<h2>Welcome Back to Ruby Makeup!</h2>

<div class="main__product-container ind__product-container account-form">
  <h3>You know the drill:</h3>
  <%if flash.has?(:message)%>
    <div class="error"><%=flash[:message]%></div>
  <%end%>
  <form action="login" method="post">
    <p>
      <label for="user[email]">Email:</label>
      <input type="text" name="user[email]">
    </p>
    <p>
      <label for="user[password]">Password:</label>
      <input type="password" name="user[password]">
    </p>
    <input type="submit" name="signup" value="Submit">

  </form>
</div>
