<a href="/products"><p>Back to Main Page</p> </a>

<div class="main__product-container cart-container order-form">
  <h3>Congrats, <%= @user %>! Your order has been received!</h3>
  <h4>You can expect a fake charge of $<%= @order.total %> on nothing because we didn't ask for any form of payment. ¯\_(ツ)_/¯</h4>
  <h4>Thanks for shopping with us!!</h4>

</div>
