<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Makeup Shop</title>
    <link rel="stylesheet" href="css/styles.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Bitter|Work+Sans" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <header class="header__title">
        <h1>Ruby Makeup</h1>
      </header>
      <%= yield %>
    </div>
  </body>
</html>
