<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ruby Makeup</title>
    <link href="https://fonts.googleapis.com/css?family=Bitter|Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
  </head>
  <body>
    <div class="wrapper">
      <header class="header__title">
        <h1>Ruby Makeup</h1>
      </header>
      <%= yield %>
    </div>
    <footer class="footer">
      This is obviously a fake site and all content is taken from Sephora or Mac.
    </footer>
  </body>
</html>
